$input-background: #3F3F3F;
$input-text-color: #FFFFFF;
$error-text-color: #DD5B5C;


#create-project {
  .title {
    -fx-font-size: 80;
    -fx-font-weight: bold;
    -fx-fill: $input-text-color;
  }

  .text-box {
    -fx-background-color: $input-background !important;
    -fx-border-width: 0 !important;
    -fx-font-size: 56;
    -fx-text-fill: $input-text-color;
    &:focused {
      -fx-border-width: 0 !important;
    }
  }

  .error-text {

    -fx-fill: $error-text-color;
    -fx-font-size: 28;
    -fx-font-weight: bold;
  }

  .my-btn {
    -fx-pref-width: 160;
    -fx-pref-height: 55;
  }
}